# Files and directories created by pub
.dart_tool
.packages
.pub/
pubspec.lock

# Include the lock file for the root application
!example/angular_components_example/pubspec.lock

build/

screenshot.png
